/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #2a475e;
  margin: 0;
  font-family: "Poppins";
  -webkit-text-fill-color: white;
}
header {
  background-color: #1b2838;
  -webkit-text-fill-color: white;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: white;
  text-decoration: none;
}

.Image{
  width: 10%;

}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
